<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= todo.title %></title>
    </head>
    <body>

        <div id="todoDetails">
            <%- include('_todo') %>
        </div>

    </body>
    <script>
        const ws = new WebSocket('ws://localhost:3000'); // Connection to WebSocket server
        ws.addEventListener('open', (event) => {
            const url = window.location.href;
            ws.send(url);
        })
        ws.addEventListener('message', (ev) => {
            const data = JSON.parse(ev.data)
            if (data.type === 'todoDetails') {
                const el = document.getElementById('todoDetails')
                el.innerHTML = data.html
            }
        })
    </script>
</html>
